<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @point.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @point.description %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @point.tour_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @point.integer %>
</p>

<p>
  <strong>Geolocation:</strong>
  <%= @point.geolocation %>
</p>

<p>
  <strong>String:</strong>
  <%= @point.string %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
