<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @view.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @view.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @view.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @view.integer %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @view.tour_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @view.integer %>
</p>

<p>
  <strong>Point:</strong>
  <%= @view.point_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @view.integer %>
</p>

<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
